{% extends 'base.html' %}
{%block title%}Football Stats{%endblock%}
{% block content %}
<div class='container'>
<form action= '/add' method='POST'>
<h1>Enter a name for your gameplan:</h1>
  <div class="form-group row">
    <label for="plan" class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-10">
      <input type="text" id="plan" name='plan'>
    </div>
  </div>
<p><h1>Choose Your Formation<p></h1>
 <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        {% for formation in formations%}
        <option name = 'formations'>{{formation.formation_name}}</option>
       
        {% endfor %}
      </select>
    </div>
  </div>

<p><h1>Select The Variation</h1></p>
 <div class="form-group row">
    <div class="col-sm-2">Select one or many:</div>
    <div class="col-lg-50">
      <div class="form-check form-check-inline">
        {% for variation in variations%}
        <input name = 'variations' class="form-check-input" type="checkbox" id="inlineCheckbox">
        <label class="form-check-label" for="inlineCheckbox">
        <div>
          {{variation.variation_name}}
        </div>
        </label>
        {% endfor %}
      </div>
    </div>
  </div>
  <div>
     <div class="form-group row">
    <div class="col-sm-10">
    
      
      <button type="submit" class="btn btn-primary">Save</button>
  
    
    </div>
  </div>
   <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" value = 'add' class="btn btn-primary">Add Another Formation</button>
    </div>
  </div>

  </div>

</form>


{%endblock%}