{% extends 'base.html' %}
{%block title%}Football Stats{%endblock%}
{% block content %}
<div class='container'>
<form action='/add' method='POST'>
<h1>Enter a name for your gameplan:</h1>
  <div class="form-group row">
    <label for="plan" name = 'plan_name'  class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-10">
      <input type="text" value = '{{request.form.name}}' >
    </div>
  </div>
<p><h1>Choose Your Formation<p></h1>
 <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value = '{{request.form.formation}}' name = "formation_name" >Doubles</option>
      </select>
    </div>
  </div>

<p><h1>Select The Variation</h1></p>
 <div class="form-group row">
    <div class="col-sm-2">Select one or many:</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" value = '{{request.form.variation}}' name = 'variation' type="checkbox" id="split">
        <label class="form-check-label" for="split">
          Split
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="nearPistol">
        <label class="form-check-label" for="nearPistol">
          Near Pistol
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input"  type="checkbox" id="farPistol">
        <label class="form-check-label" for="farPistol">
          Far Pistol
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input"   type="checkbox" id="queen">
        <label class="form-check-label" for="queen">
          Queen
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input"  type="checkbox" id="right">
        <label class="form-check-label" for="right">
          Right
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input"  type="checkbox" id="left">
        <label class="form-check-label" for="left">
          Left
        </label>
      </div>
    </div>
  </div>
  <div>
     <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
   <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Add Another Formation</button>
    </div>
  </div>

  </div>

</form>


{%endblock%}