{% extends 'base.html' %}
{%block title%}Football Stats{%endblock%}
{% block content %}

<div class= 'text-center'>
<h1>


    Welcome to Football Stats 
    <h2>The best way to keep your stats and gameplans organized.</h2>
</h1>
<figure class="figure">
  <img src="{{ url_for('static', filename='images/FootballLineup.jpg')}}" class="figure-img img-fluid rounded" alt="Footmall Image">
  <figcaption class="figure-caption text-right">Photo by <a href="/photographer/supercolor-46009">Nikki Johnson</a> from <a href="https://freeimages.com/">FreeImages</figcaption>
</figure>
<div class='text-center'>
 <a href="/add" class="btn btn-primary" >
  Start Here
  </a>
  </div>

  

{%endblock%}
