{% extends 'base.html' %}
{%block title%}Football Stats{%endblock%}
{% block content %}
<h1>{{plan_name}}</h1>
 
<table style= 'text-align:center' class='container table table-bordered'>

  <thead >
  
    
    
      <th scope="col">{{formation_name}}</th>
      <th scope="col">Left</th>
      <th scope="col">Right</th>
      
   
    </tr>
  
  </thead>
  <tbody>
  
  
    <tr>
      
      <td scope="row">{{variation_name}}</td> 
      
     
         <td>
            <div class='container'>
              <label>Run</label>
              <button onclick = "leftruncount()" name = {{'count1'}} id= "count1" class="btn btn-outline-primary">0</button>
             
              <label>Pass</label>
              <button onclick="leftpasscount()" name = {{'count2'}} id= "count2" class="btn btn-outline-primary">0</button>  
            </div>
        </td>
       

        <td>
    
            <div class='container'>
                <label>Run</label>
                <button onclick = "rightruncount()" name = 'count3' id= "count3"  class="btn btn-outline-primary">0</button>
                <label>Pass</label>
                <button onclick = "rightpasscount()" name = 'count4' id= "count4" class="btn btn-outline-primary">0</button>
            </div>
        </td>
    </tr>
    
  
    
  </tbody>
    
</table>

<form action='/results' method='POST'>
<div class="col-sm-10 container">
      <button type="submit" class="btn btn-primary">Tally Results</button>
</div>
</form>
<script>
  var count1 = (function (){
    var counter1 = 0;
    return function() {return counter1 += 1;}

  })();
  function leftruncount(){
    document.getElementById("count1").innerHTML = count1();
  }
var count2 = (function (){
    var counter2 = 0;
    return function() {return counter2 += 1;}

  })();
  function leftpasscount(){
    document.getElementById("count2").innerHTML = count2();
  }
var count3 = (function (){
    var counter3 = 0;
    return function() {return counter3 += 1;}

  })();
  function rightruncount(){
    document.getElementById("count3").innerHTML = count3();
  }
var count4 = (function (){
    var counter4 = 0;
    return function() {return counter4 += 1;}

  })();
  function rightpasscount(){
    document.getElementById("count4").innerHTML = count4();
  }
</script>

{%endblock%}
